/* // ==UserScript==
@name         CfP Devoxx
@namespace    https://emmanuelbernard.com
@version      2.3
@description  Remove AI summary and color key boxes for faster eye navigation
@author       emmanuelbernard
@updateURL    https://raw.githubusercontent.com/emmanuelbernard/devoxx-cfp-userscripts/main/cfp-devoxx.user.css
@downloadURL  https://raw.githubusercontent.com/emmanuelbernard/devoxx-cfp-userscripts/main/cfp-devoxx.user.css
@match        https://*.cfp.dev/*
@icon         https://www.google.com/s2/favicons?sz=64&domain=devoxxfr2024.cfp.dev
@grant none
// ==/UserScript== */

/* Work around a iOS or USerscripts bug */
div {
}

/* Hide AI summary */
.col-12 :has(.fa-robot) {
  display: none;
  background-color: #f5ede1;
}

/* ********** Coloring for faster browsing and eye grabbing ***** */
/*
color triad
#e5ede1 green
#e1e5ed blue grey
#ede1e5 light red

Also yellow for attention and separation clarification
#fcfcc9
*/
.col-12 :has([cfptranslate="cfpApp.proposal.abstract"]) {
  background-color: #e5ede1
}

.col-12 :has([cfptranslate="cfpApp.proposal.elevatorPitch"]) {
  background-color: #ede1e5;
}

.col-12 .col-12 :has([cfptranslate="cfpApp.proposal.bio"]) {
  background-color: #e5ede1;
}

.col-12 .col-12 :has([cfptranslate="cfpApp.proposal.experience"]) {
  background-color: #ede1e5;
}

.col-12 :has([cfptranslate="cfpApp.proposal.notes"]) {
  background-color: #ede1e5;
}

.col-12 :has([cfptranslate="cfpApp.proposal.slideDeck"]) {
  background-color: #e1e5ed;
}

/* Previous talk rating */
cfp-speaker-ratings div {
  background-color: #e1e5ed;
}
/* fix color leakage */
cfp-speaker-ratings div td div {
   background-color: #fff;
}

/* private comments */
cfp-comments div {
  background-color: #ede1e5;
}

/* public comments */
cfp-feedback div {
  background-color: #e5ede1;
}

/* Discussions header */
.p-panel-header:has(.fa-comment-dots) {
  background-color: #fcfcc9;
}
